
.form_container {
    min-height: min(500px, 100vh);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 6rem 4rem;
    background: var(--section-card-background);
}

.form {
    flex-grow: 1;
    width: 100%;
    padding:1rem 4rem 4rem;
    margin-bottom: 0;
    max-width: 850px;
    border-radius: 2rem 4rem;
    background: transparent;
}


/******* GRADIENT BORDER **************/

.gradient_box {

}

.gradient_border {
  /*--borderWidth: 3px;*/
  --borderWidth: 6rem 2rem;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient_border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@media (max-width: 648px) {
    .form {
        padding: 1rem;
    }
}